
body {
  font-size:12pt;
  margin-left: 5%;
  margin-right: 5%;
}


hr {height: 2px; 
  background-color: black;
  }


div#theLeft {
  clear:both;
  width:30%;
  float:left;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#theRight {
  width:70%;
  float:right;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

pre {
    white-space: pre-wrap;
}
