
body {
  font-size:12pt;
  font-family:verdana;
}

hr {
  height:10px;
}

div#theLeft {
  clear:both;
  width:35%;
  float:left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 20px;
}

div#theRight {
  width:65%;
  float:right;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

pre {
    white-space: pre-wrap;
}
